################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CosasDeArreglos/CosasDeArreglos/bin/Debug/CosasDeArreglos.pdb
/CosasDeArreglos/CosasDeArreglos/bin/Debug/CosasDeArreglos.exe.config
/CosasDeArreglos/CosasDeArreglos/bin/Debug/CosasDeArreglos.exe
